html { 
  background: url(https://raw.githubusercontent.com/cerulliulliulli/cerulliulliulli.github.io/master/wallhaven-409812.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.slide-up img {
  animation: 15s slide-up;
  margin-top:0%;
}
