html { 
  background: url(https://raw.githubusercontent.com/cerulliulliulli/cerulliulliulli.github.io/master/wallhaven-409812.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
    position: fixed;
    margin: 0;
    left: 50%;
    bottom: 0%;
    opacity: 0;
    animation: load_up forwards 40s;
    animation-timing-function: ease-in-out;
    -webkit-animation: load_up forwards 40s;
    -webkit-animation-timing-function: ease-in-out;
}

h1 {
    font-size: 88px;
    font-weight: normal;
    color: #FFF;
    margin: 0;
    padding: 90px 0 25px 0;
    transform-origin: 50% 100%;
    text-shadow: 2px 2px 2px #333;
     
    animation-duration: .3s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

@keyframes load_up{
    from {opacity: 0; top: 100%; animation-timing-function: ease-in-out;}
    to {opacity: 1; top: 0%;}
    
}

@-webkit-keyframes load_up{
    from {opacity: 0; top: 100%; animation-timing-function: ease-in-out;}
    to {opacity: 1; top: 0%;}
    
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
