html { 
  background: url(https://raw.githubusercontent.com/cerulliulliulli/cerulliulliulli.github.io/master/wallhaven-409812.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #000; color: #FFF;
  transition: all 15s;
}
